* {
    margin:0;
    padding:0;
    
}

body {
    background-color: bisque
}

.container {

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
}

.expense {
    text-align: center;
    justify-content: space-around;
    background-color: aquamarine;
    width: 15%;
    height: 100px;
    background-color: #ccc;
    margin: 5px;
    
}

#home {
    background-color: #5ABCB9;
   
}
#home h1 { 
    font-size: 35px
    
}
#main {  
    letter-spacing: 4px;
    text-align: center;
    font-size: 35px;
    color:black;
    
}
#menu  {
    text-align: center;
    padding-top:20px; 
    list-style:circle;
    padding-bottom: 15px;
}
#menu li {
    padding-left:15px;
    display:inline;  
   
}
#menu a {
    
    text-decoration: none; 
    color:black;  
}
#menu a:hover {
    background-color:#6EF9F5;
   
}
#add_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
}

#about_container {
display:flex;
}
#text_box {
    width:50%;
    background-color: aquamarine;
    padding:5%;

}
#image_container {
    width:50%;
    background-color: yellowgreen;
    padding: 5%;

}
.contact {
    background-color: #5ABCB9;
    height:200px;
    
}