* {
    margin:0;
    padding:0;
    
}

body {
    background-color: whitesmoke;

}
.container {

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
}

.expense {
    text-align: center;
    justify-content: space-around;
    background-color: aquamarine;
    width: 15%;
    height: 100px;
    background-color: #ccc;
    margin: 5px;
    
}

#home {
   
    
   
}
#home h1 { 
    font-size: 35px
    
}
#main {  
    letter-spacing: 4px;
    text-align: center;
    font-size: 35px;
    color:black;
    
}
#menu  {
    text-align: center;
    padding-top:20px; 
    list-style:circle;
    padding-bottom: 15px;
}
#menu li {
    padding-left:15px;
    display:inline;  
   
}
#menu a {
    
    text-decoration: none; 
    color:black;  
}
#menu a:hover {
    background-color:#6EF9F5;
   
}
#add_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
}

#about_container {
display:flex;
}
#text_box {
    width:50%;
    background-color: #011C27;
    padding:5%;
    color: white;

}
#image_container {
    width:50%;
    background-color: yellowgreen;
    padding: 5%;

}
.contact {
    background-color: #5ABCB9;
    height:200px;
    
}
#money_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
#total {
    height:100px;
    width: 30%;
    color:red;
    text-align: center;


}
#budget {
    height: 100px;
    width: 30%;
    color: rgb(4, 227, 4);
    text-align: center;
}

#leftover {
    height: 100px;
    width: 30%;
    color: yellow;
    text-align: center;

}

#add_budget_container{

}
#budget_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;

}
.social_media {
    text-align: center;
}

.social_media > li {
    display: inline;
}

.social_media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color:antiquewhite
}

.messages li{
    color:white;
}
