<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header id = "home">

        <h1 id = "main">Expense Tracker</h1>
        <nav>
            <ul id ="menu">
                <li><a href="/">Home</a></li>
                <li><a href= "/expenses/" >Expenses</a></li>
                {% if not user.is_authenticated %} 
                <li><a href="/accounts/signup/">Register</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="/accounts/login/" >Login</a></li>
                {% endif %}
                {% if user.is_authenticated %} 
                <li><a href="/accounts/logout/" >Logout</a></li>
                {% endif %}
            </ul>   
        </nav>
    </header>

    <div class ="main_form_container">
        
        
        <div class="form_container">
            <div class = "form_des">
                <h2>Add an expense</h2>
            </div>
            <form  class = "forms" method= "POST" action = "">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class= "btn_submit" type="submit">Submit Expense</button>
            </form>
        </div>
        
    </div>


    <footer>
        <div class = "sm_container">
        <ul class="social_media">
            <li>
                <a href="https://facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://youtube.com" target="_blank" rel="noopener"><i class="fab fa-youtube-square"></i></a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
    <script src = "/static/main.js"></script>

    
</body>
</html>