<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <div id = "type">
    
    </div>
    <header>
        <div id = "home">
        <h1 id = "main">SpendWise</h1>
        <nav>
            <ul id ="menu">
                <li><a href="/">Home</a></li>
                <li><a href= "/expenses/" >Expenses</a></li>
                {% if not user.is_authenticated %} 
                <li><a href="/accounts/signup/">Register</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="/accounts/login/" >Login</a></li>
                {% endif %}
                {% if user.is_authenticated %} 
                <li><a href="/accounts/logout/" >Logout</a></li>
                {% endif %}
            </ul>   
        </nav>
        </div>
    </header>
    
    

    {% if messages %}
        <ul>
        {% for message in messages %}
        <li id ="messages" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
       </ul>
    {% endif %}


    <div class = "title">
        <h1 class="title_h1">Budget</h1>
      
        <a  title="Add your 2023 budget, the total amount of your expenses will be subtracted from this budget" class ="btn_add" href="/budget/">Set your max budget</a>

        
    </div>
    {% if user.is_authenticated %}  
    <div class="main_buttons_container">
       
        <div class="typewiter budget"  >
            <h2 >Initial Budget</h2>
            <h3 class="type" > $  {{budget_total}} </h3>
        </div>
        <div class="typewiter total" >
            <h2>Total Expenses</h2>
            <h3 class="type" > $ {{total}}</h3>
        </div>
        <div class="typewiter leftover" >
            <h2>Current Budget</h2>
            <h3 class="type" > $ {{leftover}}</h3>
        </div>
    </div>
    {% endif %}
    {% if not user.is_authenticated %}  
    <div class = "main_buttons_container">
            
       
        <div class="typewiter budget">
            <h2 >Initial Budget</h2>
            <h3 class="type" > $  </h3>
        </div>
        <div class="typewiter total">
            <h2>Total Expenses</h2>
            <h3 class="type" > $ </h3>
        </div>
        <div class="typewiter leftover">
            <h2>Current Budget</h2>
            <h3 class="type" > $ </h3>
        </div>
    </div>
    {% endif %}

  

    
    
    <div class= "title">
        <h1 class="title_h1">Expenses</h1>     
        <a class = "btn_add" href="/add/">Add a new expense</a>
    
    </div>
    {% if not user.is_authenticated %} 
   
        <div class = "place_container">
           
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            
       </div>
    {% endif %}
    {% if user.is_authenticated %}   
   


    <div   class = "container">

        {% for expense in expenses %}   
    
        <div class="expense_div" >
            
            <h2>{{expense.name}}</h2>
            
            <h3>$  {{expense.number}}</h3>
            <p>{{expense.date_field}}</p>
            <a class="expense_buttons" href = "/update/{{ expense.id }}">Edit</a>
            <a class="expense_buttons" href = "/delete/{{ expense.id }}">Delete</a>
            
        
        </div>
        {% endfor %}
    </div>
    
    {% endif %}
   
  
    <footer>
        <div class = "sm_container">
        <ul class="social_media">
            <li>
                <a href="https://facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://youtube.com" target="_blank" rel="noopener"><i class="fab fa-youtube-square"></i></a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
    <script src = "/static/main.js"></script>



  

    
</body>
</html>