<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <header id = "home">

        <h1 id = "main">Expense Tracker</h1>
        <nav>
            <ul id ="menu">
                <li><a href="/">Home</a></li>
                <li><a href= "/expenses/" >Expenses</a></li>
                <li><a href="/accounts/signup/">Register</a></li>
                <li><a href="/accounts/login/" >Login</a></li>
                {% if user.is_authenticated %} 
                <li><a href="/accounts/logout/" >Logout</a></li>
                {% endif %}
            </ul>   
        </nav>
    </header>
    <h1>_</h1>
    

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
       </ul>
    {% endif %}

    
    {% if user.is_authenticated %}  

    <div id = "money_container">
        <div id= "budget">
            <h1>Initial Budget</h1>
            <h2> $  {{budget_total}} </h2>

        </div>
       
        <div id= "total">
            <h1>Total Expenses</h1>
            <h2> $ {{total}}</h2>

        </div>
        <div id= "leftover">
            <h1>Current Budget</h1>
            <h2> $ {{leftover}}</h2>

        </div>

    </div>
    {% endif %}

    <a href="/add/">Add a new expense</a>

    {% if not user.is_authenticated %} 
        <div class = "placeholder_container">
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
            <div class= "placeholder_expense"></div>
       </div>
    {% endif %}

    <div class = "container">
    {% if user.is_authenticated %}   
        {% for expense in expenses %}   
        
    
        <div class= "expense">
            
            <h2>{{expense.name}}</h2>
            
            <p>$  {{expense.number}}</p>
           
            
            <p>{{expense.date_field}}</p>
            <a id ="update_link" href = "/update/{{ expense.id }}">Edit Expense</a>
            <a id ="delete_link" href = "/delete/{{ expense.id }}">Delete Expense</a>
            
        </div>
        
        {% endfor %}
    {% endif %}
   </div>
  
    <footer>
        <ul class="social_media">
            <li>
                <a href="https://facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://youtube.com" target="_blank" rel="noopener"><i class="fab fa-youtube-square"></i></a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </footer>
    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>



  

    
</body>
</html>