<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <header id = "home">

        <h1 id = "main">Expense Tracker</h1>
        <nav>
            <ul id ="menu">
                <li><a href="/">Home</a></li>
                <li><a href= "/expenses/" >Expenses</a></li>
                <li><a href="/accounts/signup/">Register</a></li>
                <li><a href="/accounts/login/" >Login</a></li>
                {% if user.is_authenticated %} 
                <li><a href="/accounts/logout/" >Logout</a></li>
                {% endif %}
            </ul>   
        </nav>
    </header>
    <h1>expenses page</h1>
    <div id = "budget_form_container">

        <form  id = "add_form" method= "POST" action = "">
            {% csrf_token %}
            {{form}}
            <button type="submit">Submit your 2023 budget</button>

        </form>
    </div>


    <div id = "money_container">
        <div id= "budget">
            <h1>Budget</h1>
            <h1> $ {{budget_total}} </h1>

        </div>
        <div id= "leftover">
            <h1>Current</h1>
            <h1> $ {{leftover}}</h1>

        </div>
        <div id= "total">
            <h1>Total Expenses</h1>
            <h1> $ {{total}}</h1>

        </div>

    </div>
    <a href="/add/">Add a new expense</a>

    <div class = "container">
        {% for expense in expenses %}   
        
    
        <div class= "expense">
            <h2>{{expense.name}}</h2>
            
            <p>$  {{expense.number}}</p>
           
            
            <p>{{expense.date_field}}</p>
            <a href = "/update/{{ expense.id }}">Edit Expense</a>
            <a href = "/delete/{{ expense.id }}">Delete Expense</a>
            
            </div>
        
        {% endfor %}
   </div>
   <footer>
    <div class="contact">
       
      
        

    </div>
</footer>


  

    
</body>
</html>