<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header id = "home">

        <h1 id = "main">Expense Tracker</h1>
        <nav>
            <ul id ="menu">
                <li><a href="/">Home</a></li>
                <li><a href= "/expenses/" >Expenses</a></li>
                {% if not user.is_authenticated %} 
                <li><a href="/accounts/signup/">Register</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="/accounts/login/" >Login</a></li>
                {% endif %}
                {% if user.is_authenticated %} 
                <li><a href="/accounts/logout/" >Logout</a></li>
                {% endif %}
            </ul>   
        </nav>
    </header>
    
    <div id = "about_container">
        <div id="text_box">
            <h1>About</h1>
            
            <p>SpendWise  is a handy tool for keeping track of your expenses. With this app, you can easily add expenses and keep track of your spending. You can also set an initial budget and the app will automatically deduct your expenses from your budget, giving you an up-to-date picture of your spending. This feature helps you to stay within your budget and avoid overspending. Overall, the expense tracker app is a simple, yet powerful tool that can help you manage your finances more effectively.</p>
            <h2>Lets begin your expense journey</h2>
            <ul id ="start">
            {% if user.is_authenticated %} 
                <li><a class="start_buttons" href= "/expenses/" >Start Tracking</a></li>
            {% endif %}
            {% if not user.is_authenticated %} 
                <li><a class="start_buttons" href="/accounts/signup/">Register</a></li>
            {% endif %}
            {% if not user.is_authenticated %}
                <li><a class="start_buttons" href="/accounts/login/" >Login</a></li>
            {% endif %}
                  
            </ul>    
        </div>
        <div id ="image_container">
            <img src = "/static/css/money1.jpeg" alt="money">

        </div>
    </div>

    
   
  
    <footer>
        <div class = "sm_container">
            <ul class="social_media">
                <li>
                    <a href="https://facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com" target="_blank" rel="noopener"><i class="fab fa-youtube-square"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
</body>
</html>